CompanyFleetManager/[Bb]in/
CompanyFleetManager/[Oo]bj/
CompanyFleetManager/fleet.db
.vs/
CompanyFleetManagerTests/[Bb]in/
CompanyFleetManagerTests/[Oo]bj/
CompanyFleetManagerTestsE2E/[Bb]in/
CompanyFleetManagerTestsE2E/[Oo]bj/
CompanyFleetManagerWebMvc/[Bb]in/
CompanyFleetManagerWebMvc/[Oo]bj/
*.db
*.db-shm
*.db-wal
README.md.backup