@page
@model LogoutModel
@inject CompanyFleetManagerWebApp.Models.UserLoggedState UserState
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (UserState.IsUserLogged)
        {
            <form id="formLogout" method="post">
                <button id="buttonLogout" onClick="showToastThenSubmit('You have logged out!', 'formLogout', 'success')" type="submit" class="nav-link btn btn-link">Click here to Logout</button>
            </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>
